body {
  background-color: black;
  color: white;
}
.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 1.5em;
  padding: 1em;
  margin: 10px;
  background-color: rgba(127, 255, 212, 0.253);
}
.sub-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carInsurance {
  margin-left: 1em;
}
.btn {
  padding: 1.5em;
  border-radius: 1.5em;
  color: white;
  background-color: blue;
  border: 8px solid white;
}
